/*
wood brown: A89F68;
army green: 41521F;
*/
*{
	margin-top: -10px;
}
.bienvenida{
	background-image: url(../img/portada.jpg);
	color: #fff;
	height: 100vh;
	padding: 150px;
}

.navbar{
	background-color: transparent;
	margin-top: 20px;
	border: none;
}

.bienvenida button{
	background-color: #41521F;
	padding: 10px;
	border-radius: 10px;
	border: 0px;
}

.second{
	padding: 40px 30px 150px 30px;
}

.second h3,h5{
	color: #A89F68;
}

.tres{
	padding: 150px;
	background-color: #A89F68;
	color: #fff;
}

.tres img{
	border: solid 10px #fff;
	width: 150%;
}

.cuatro{
	background-image: url(../img/all.jpg);
	color: #fff;
	height: 140vh;
	padding-top: 100px;
}

.cinco{
	padding: 100px;
	height: 60vh;
}

.cinco i, h3{
	color: #A89F68;
}

footer{
	padding: 150px;
	background-color: #41521F;
	color: #fff;
}

footer li{
	list-style: none;
	padding: 5px;
	color: #A89F68;
}